#root {
  width: 100%;
  padding: 35px;
  max-width: 1240px;
}

.menu {
  display: grid;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 360px);
}

.menu-item {
  padding: 20px 0;
}

.additions {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.addition {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}